<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Deployment</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.11.0/fetch.min.js"></script>

        <script type="text/javascript">

            var basicAuth = '{{ basic_auth }}';
            var baseUrl = '{{ base_url }}';

        </script>

        <script src="{{ base_url }}/static/js/main.js"></script>
    </head>

    <body>

        {% block body_scripts %}{% endblock %}

        <div class="container">
            <h1>ECR-ECS deployer</h1>

            <div>
                {% if not selected_ecs_cluster %}
                    <h3>Select an ECS cluster...</h3>
                {% else %}
                    <h3 style="color:red">{{ selected_ecs_cluster }}</h3>
                {% endif %}

                <form method="POST">
                    <select name="selected_ecs_cluster">
                        {% for cluster in ecs_clusters %}
                            <option name="{{ cluster['clusterName'] }}" {% if cluster['clusterName'] == selected_ecs_cluster %} selected="true" {% endif %}>{{ cluster['clusterName'] }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn" value="Select" />
                </form>
            </div>

            {% if selected_ecs_cluster %}
                {% block content %}{% endblock %}
            {% endif %}
        </div>

        <div id="result-modal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Result</h4>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="loading-modal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Please wait...</h4>
              </div>
              <div class="modal-body" style="text-align:center;">
                <img src="{{ base_url }}/static/img/ring.gif" />
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </body>
</html>
