{% extends "base.html" %}

{% block body_scripts %}

    <script type="text/javascript">

        $(document).ready(function() {

            function cellFormatter(value, row, index) {
                return {classes: row.status_class};
            }

            function _rowAttributes(row, index) {
                services[row.image_name] = row.services;
            }

            $('#deployer-table').bootstrapTable({
                showRefresh: true,
                clickToSelect: true,
                locale: 'en-US',
                search: true,
                url: '{{ base_url }}/status',
                rowAttributes: _rowAttributes,
                columns: [
                    {
                        checkbox: true
                    },
                    {
                        field: 'image_name',
                        title: 'Image name',
                        sortable: true,
                        searchable: true,
                        cellStyle: cellFormatter
                    },
                    {
                        field: 'ecs_version',
                        title: 'Cluster version',
                        sortable: true,
                        cellStyle: cellFormatter,
                        formatter: function (value, row, index) {
                            return value.replace(/,/g, '<br />').replace(/::/g, ' - ');
                        }
                    },
                    {
                        field: 'ecr_version',
                        title: 'Repository version',
                        sortable: true,
                        cellStyle: cellFormatter
                    },
                    {
                        field: 'status_text',
                        title: 'Status',
                        sortable: true,
                        cellStyle: cellFormatter
                    },
                    {
                        field: 'details_link',
                        title: 'Details',
                        cellStyle: cellFormatter,
                        align: 'right',
                        formatter: function (value, row, index) {
                            return '<a class="btn btn-default" title="View versions" href="' + value + '"><i class="glyphicon glyphicon-list icon-list-alt"></i></a>'
                        }
                    }
                ]
            });

            $('#btnDeploy').click(deployImagesFactory());

        });
    </script>

{% endblock %}

{% block content %}

    <div class="bootstrap-table">
        <div class="fixed-table-toolbar">
            <div class="columns columns-right btn-group pull-right">
                <button id="btnDeploy" class="btn btn-default" type="button" name="deploy" title="Deploy selected"><i class="glyphicon glyphicon-cloud-upload icon-list-alt"></i></button>
            </div>
        </div>
        <table id="deployer-table"></table>
    </div>

{% endblock %}
