<!DOCTYPE html>
<html lang="en">
<head>
    <title>Deployment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            function cellFormatter(value, row, index) {
                return {classes: row.status_class};
            }

            $('#status-table').bootstrapTable({
                showRefresh: true,
                clickToSelect: true,
                locale: 'en-US',
                search: true,
                url: '/status',
                columns: [
                    {
                        checkbox: true
                    },
                    {
                        field: 'image_name',
                        title: 'Image name',
                        sortable: true,
                        searchable: true,
                        cellStyle: cellFormatter
                    },
                    {
                        field: 'ecs_version',
                        title: 'Cluster version',
                        sortable: true,
                        cellStyle: cellFormatter
                    },
                    {
                        field: 'ecr_version',
                        title: 'Repository version',
                        sortable: true,
                        cellStyle: cellFormatter
                    },
                    {
                        field: 'status_text',
                        title: 'Status',
                        sortable: true,
                        cellStyle: cellFormatter
                    }
                ]
            });

        });
    </script>

</head>

<body>

    <div class="container">
        <h1>ECR-ECS deployer</h1>
        <div class="bootstrap-table">
            <div class="fixed-table-toolbar">
                <div class="columns columns-right btn-group pull-right">
                    <button class="btn btn-default" type="button" name="deploy" title="Deploy selected"><i class="glyphicon glyphicon-cloud-upload icon-list-alt"></i></button>
                </div>
            </div>
            <table id="status-table"></table>
        </div>
    </div>

</body>
</html>