<!DOCTYPE html>
<html lang="en">
<head>
    <title>Deployment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>

</head>

<body>

    <div class="container">
        <h1>ECR-ECS deployer</h1>
        <div class="bootstrap-table">
            <div class="fixed-table-toolbar">
                <div class="columns columns-right btn-group pull-right">
                    <button class="btn btn-default" type="button" name="deploy" title="Deploy selected"><i class="glyphicon glyphicon-cloud-upload icon-list-alt"></i></button>
                </div>

                <!-- <div class="pull-right search">
                    <input class="form-control" type="text" placeholder="Search">
                </div> -->
            </div>
            <table id="status-table" class="table" data-toggle="table">
                <thead>
                    <tr>
                        <th data-checkbox="true"></th>
                        <th data-searchable="true" data-sortable="true">Image name</th>
                        <th data-sortable="true">Staging version</th>
                        <th data-sortable="true">Repo version</th>
                        <th data-sortable="true">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for image_name, info in status.items() %}
                        <tr class="{{ classes[info['result']] }}" data="asdasd">
                            <td></td>
                            <td>{{ image_name }}</td>
                            <td>{{ info['ecs_version'] }}</td>
                            <td>{{ info['ecr_version'] }}</td>
                            <td>{{ texts[info['result']] }}</td>
                            <td>
                                <div class="pull-right search">
                                    <button class="btn btn-default" type="button" name="deploy" title="Deploy"><i class="glyphicon glyphicon-cloud-upload icon-list-alt"></i></button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>